.popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    border-radius: 15px;
    min-width: fit-content;
    min-height: fit-content;
    z-index: 2;
    transition: all 150ms ease-in-out;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transform: translate(-50%, -50%) scale(1);
    transition: all 150ms ease-in-out;
}

.styling {
    margin: auto;
    flex-direction: column;
    display: flex;
    margin: 10px;
}

.colorPicker {
    margin: 10px;
}