.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    width: 20%;
    height: 10%;
    z-index: 2;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transform: translate(-50%, -50%) scale(1);
    transition: all 150ms ease-in-out;
}